.para-direita {
   background-image: url(skier.png);
   background-position: -25px -6px;
   width: 22px;
   height: 28px;
}

.para-esquerda {
   background-image: url(skier.png);
   background-position: -26px -43px;
   width: 22px;
   height: 28px;
}

.para-frente {
   background-image: url(skier.png);
   background-position: -67px -2px;
   width: 15px;
   height: 32px;
}

.arvore {
   background-image: url(obstacles.png);
   background-position: -0px -31px;   
   width: 28px;
   height: 32px;
   position: absolute;
}

.arbusto {
    background-image: url(obstacles.png);
    background-position: -27px -100px;
    width: 20px;
    height: 19px;
    position: absolute;
}

.rocha {
    background-image: url(obstacles.png);
    background-position: -32px -44px;
    width: 20px;
    height: 19px;
    position: absolute;
}

.toco {
    background-image:url(obstacles.png);
    background-position: -254px -48px;
    width: 15px;
    height: 16px;
    position: absolute;
}

.arvorao {
    background-image:url(obstacles.png);
    background-position: -95px -77px;
    width: 34px;
    height: 52px;
    position: absolute;
}

#montanha {
   border: 1px solid black;
   position: relative;
   overflow: hidden;
}

#painel {
    border: 1px solid black;
    position: relative;
    width: 230px;
    height:50px;
    right: -301px;
    top: -402px;    
}

#skier {
   position: absolute;
}