th {
    text-align: left;
    border-collapse: collapse;
    width: fit-content;
}

td {
    text-align: center;
    border-collapse: collapse;
    width: fit-content;
}

table {
    position: relative;
    border: 1px solid black;
    float: left;
    width: 150px;
    margin: 10px;
    width: fit-content;
}